@charset "UTF-8";


/* Typical Device Breakpoints 
-------------------------------------------------
Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
*/

/* Portrait */
@media screen and (orientation: landscape) and (max-height: 400px) {            

    .image img {
        top: 80%;
        transform: translateY(-50%);
    }
}

/* Medium Devices */
@media screen and (min-width: 768px) and (max-width: 991px) {

    header {
        position: fixed;
        height: 55px;
        width: 100%;
        z-index: 999;
    }
    
    .material-symbols-rounded {
        display: none;
    }

    #menu {
        position: auto;
        top: 0;
        transition: none;  
    }

    #menu ul {
        padding: 10px;
        background-image: none;      
    }

    #menu ul li {
        display: inline;
        margin: 10px 4vw;
    }

    #menu a{
        font-size: 1.5em;
    }

    #menu svg {
        display: none;
    }

    main {
        margin-top: 55px;
    }

    .title {
        margin-top: 20px;
        margin-left: 20px;
    }

    .title h2 {        
        font-size: max(min(8vw, 8em), 2.8em);
    }

    .title #ess {
        padding-left: 8vw;
    }

    .line { 
        width: 60vw;
        max-width: 600px;
    }

    .content p {
        text-align: justify;
    }

    .button {
        margin-left: 11vw;
    }

    .footer {
        width: fit-content;
        margin-top: -100px;
        margin-left: 5vw;
        text-align: center;
    }

    .line.pages {
        max-width: 750px;
    }

    .pages .footer {
        margin-top: 0px;
    }
}

/* Large and Extra Large Devices */
@media screen and (min-width: 992px) {

    header {
        position: fixed;
        height: 55px;
        width: 100%;
        z-index: 999;
    }
    
    .material-symbols-rounded {
        display: none;
    }

    #menu {
        position: auto;
        top: 0;
        transition: none;    
    }

    #menu ul {
        padding: 10px;
        background-image: none;      
    }

    #menu ul li {
        display: inline;
        margin: 10px 5vw;
    }

    #menu a{
        font-size: 1.5em;
    }

    #menu svg {
        display: none;
    }

    main {
        margin-top: 55px;
    }

    .content {
        text-align: center;
    }

    .title {
        margin-top: 20px;        
    }

    .title h2 {        
        font-size: max(min(8vw, 8em), 2.8em);
    }

    .title #ess {
        padding-left: 8vw;
    }

    .line { 
        width: 60vw;
        max-width: none;
    }

    .maincontent p {
        margin: 0px auto;
        margin-top: 60px;
    }

    .buttons {
        display: flex;        
        justify-content: center;
    }

    .button {
        width: 29vw;
        margin: 40px 20px;
        max-width: 350px;
    }
    
    .content .image img {
        width: 35%;
        min-width: 360px;
        max-width: 550px;
        /* margin-top: 50px; */
        transform: translateY(-45%);
        overflow: hidden;
    }

    .footer {
        width: fit-content;
        margin-top: -120px;
        margin-left: 10vw;
        margin-bottom: 20px;
        text-align: center;
    }

    /* ---- Pages Media Queries ---- */

    .content.pages {
        position: relative;
    }

    .content.pages p {
        margin: 0 auto;
        margin-top: 60px;
    }

    .content.pages.justify .title {
        margin: 0 5vw;
        width: 50%;
    }

    .pages .text {
        width: 60%;
    }

    .content.pages.justify p{
        margin: 0 auto;
        margin-top: 60px;
        width: 50%;
    }

    .content.pages .imgpages img{
        display: block;
        position: absolute;
        top: 50%;
        right: 10%;
        width: 25%;
        max-width: 350px;
        object-fit: cover;
        transform: translateY(-30%);
        z-index: 1;
    }

    .quote.justify .imgpages img{
        display: none;
    }

    .line.pages {
        max-width: 60%;
    }

    .pages .footer {
        margin-top: 0px;
    }

    /* Form */

    form {
        width: 50%;
        margin: 0px auto;
        margin-top: 30px;
        align-self: flex-start;
    }

    /* Flowchart */

    .flux {
        flex-direction: row;        
        align-items: center;
        margin: 0px auto;
    }

    .box {
        margin: 20px;
    }

    .arrow {
        transform: rotate(0deg);
    }
}