@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Josefin+Sans:ital,wght@1,200;1,500&display=swap');

/* 
    Color palette

    color 0 - #FF6E5C
    color 1 - #FFAEA4
    color 2 - #FFC4BD
    color 3 - #FFF1F1
    color 4 - #FFF
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font0);
}

:root {

    --font0: 'Hind', Arial, Helvetica, sans-serif;
    --font1: 'Josefin Sans', Arial, Helvetica, sans-serif;
    --color0: #FF6E5C;
    --color1: #FFBEB6;
    --color2: #FFD8D4;
    --color3: #FFF1F1;
    --color4: #FFF;
}

body, html {
    background-color: var(--color3);    
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* define três linhas - cabeçalho, corpo e rodapé */
    min-height: 100vh; /* define a altura mínima do corpo da página como a altura total da viewport */
    overflow-x: hidden;
    height: 100vh;
}

header {
    background-color: var(--color2);
    padding: 10px 20px; 
    grid-row: 1 / 2; /* define o cabeçalho para ocupar a primeira linha */ 
}

/* -- menu -- */

/* buttons */

.material-symbols-rounded {
    color: white;
    font-size: 3em;   
    text-shadow: 0px 4px 4px rgba(185, 19, 19, 0.25);
}

.material-symbols-rounded:hover {
    cursor: pointer;
}

#burger {
    height: 65px;
    transition: all 0.3s ease-out;
}

#burger:hover {
    font-size: 3.5em;
    transition: all 0.3s ease-out;
}

#closemenu { 
    position: absolute;
    z-index: 10;
    left: 0;
    margin: 13px 20px;
    animation: girar2 0.3s linear;  
}

#closemenu:hover { 
    animation: girar1 0.3s linear;
}

@keyframes girar1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
}

@keyframes girar2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-90deg);
    }
}

/* menu list */

#menu {
    position: fixed;
    top: -300%;
    left: 0;
    width: 100%;    
    text-align: center; 
    z-index: 9;
    transition: top 0.7s ease-in-out;    
}

#menu.open {
    top: 0;
    height: 100vh;
    overflow-y: scroll;
}

#menu ul{
    list-style: none;
    padding: 50px 0;
    padding-bottom: 30px;
    background-image: linear-gradient(var(--color1), var(--color3));
    margin-bottom: -1px;
}

#menu li {  
    margin: 50px;
}

#menu a {
    color: var(--color0);
    text-decoration: none;
    font-size: 2em;  
    display: inline-block;
    position: relative;
}

/* underline menu */

.underline_menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--color0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.underline_menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* --- main --- */

main {
    background-image: linear-gradient(var(--color1), var(--color2));
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3; /* define o corpo da página para ocupar a segunda linha */
}

main h1 {
    display: none;
}

.content {
    position: relative;
    margin: auto 25px;
    padding-top: 50px;
    /* width: 60%; */
    /* z-index: 5; */
}

/* Title */

.title h2, .title h3 {
    color: white;
    font-size: 2.8em;
    font-family: var(--font1);
    letter-spacing: 0.1em; 
    text-shadow: 0 4px 4px rgba(185, 19, 19, 0.25);
}

.title #smt {
    font-weight: 300;
}

.title #ess {
    padding-left: 30px;
    font-weight: 500;
}

/* Line */

.line {    
    height: 3px; /* espessura da linha */
    background-color: var(--color4);
    position: absolute;
    left: -50px;
    margin: 20px auto;
    width: 56vw; /* % do tamanho da tela */
    max-width: 330px;
}
  
.line::before {
    content: "";
    display: block;
    width: 10px; /* tamanho da bolinha */
    height: 10px;
    border-radius: 50%; /* forma da bolinha */
    background-color: var(--color4);
    position: absolute;
    right: -5px; /* metade do tamanho da bolinha, para alinhar com a linha */
    top: calc(50% - 5px); /* metade do tamanho da bolinha, para alinhar com a linha */
}

/* subtitle */

.content p {
    color: var(--color0);
    font-size: 1.1em;
    text-align: center;
    margin-top: 60px;
    /* width: 90%; */
}

/* buttons */

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    height: 50px;
    width: 120%;
    max-width: 300px;
    font-size: 1.1em;
    text-decoration: none;
    color: var(--color4);
    background-color: var(--color1);
    border: 2px solid var(--color4);
    border-radius: 50px;
    box-shadow: 1px 3px 4px rgba(185, 19, 19, 0.2);
    transition: all 0.2s ease-in-out;   
}

.button:hover {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color1);
    background-color: var(--color4);
    transition: all 0.2s ease-in-out;   
}

/* image */

.content .image img{
    position: absolute;
    top: 50%;
    /* right: -10%; */
    left: 55%;
    width: 50%;
    min-width: 200px;
    max-width: 360px;
    object-fit: cover;
    transform: translateY(-45%);
    z-index: 1;
}

.maincontent {
    position: relative;
    width: 60%;
    z-index: 2;
}

/* .image {
    overflow-x: hidden;    
}

.image img {
    position: absolute;
    width: 50vw;
    min-width: 200px;
    max-width: 300px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
} */

/* --- footer --- */

footer {
    text-align: center;
    background-color: var(--color3);
    grid-row: 3 / 4; /* define o rodapé para ocupar a terceira linha */
}

/* Wave */

footer > svg {
    display: block;
    margin-top: -1px;
}

/* Social Media */

.footer {
    position: relative;    
    z-index: 99;  
    padding-top: 0px;
}

#social > li {
    display: inline-block;
    margin: 0 8px;  
}

#social > li img {    
    width: auto;
    height: 40px;
    margin: 0 10px;
}

.footer > p {
    margin: 0px;
    color: var(--color1);
    font-size: 1.2em;
}

.footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

#made {
    font-size: 1em;
}


/* ---- Extra Pages ---- */

/* main */

.pages {
    background-image: var(--color3);
}

.content.pages {
    width: 100%;
    margin: 0px 0px;
    text-align: center;
}

/* Title */

.title h3 {
    font-weight: 500;
    color: var(--color0);
    padding: 0 20px;
}

/* line */

.line.pages {
    background-color: var(--color0);
    width: 100vw;
    max-width: 600px;
}

.line.pages::before {
    background-color: var(--color0);
}

/* article */

.content.pages p{
    text-align: justify;
    max-width: 1000px;
    padding: 20px;
    /* margin: 0 auto; */
}

/* quote */

.quote {
    display: flex;
    background-color: var(--color2);
    color: var(--color0);
    height: fit-content;
    min-height: 150px;
    font-size: 1.2em;
    align-items: center;
    justify-content: left;
    margin: 40px 0;
    padding: 20px;
    padding-left: 10vw;
}

.quote embed{
    width: 35px;
    color: #fd4a32;
    margin: 40px 10px;
    align-self: flex-start;
}

.quote p {
    font-family: var(--font1);
    width: 40%;
    max-width: 300px;
}

.quote strong {
    color: #fd4a32;
    line-height: 1em;
}

/* Image */

.content.pages .imgpages img{
    display: none;
}

.quote.justify {
    position: relative;
}

.quote.justify .imgpages img{
    position: absolute;
    top: auto;
    bottom: auto;
    right: 15%;
    width: 25%;
    min-width: 100px;
    max-width: 120px;
    object-fit: cover;
    transform: translateY(-50%);
    z-index: 1;
}

.quote.justify p {
    position: relative;
    z-index: 2;
}

/* -- guidance & Podcast -- */

.quote.center {
    flex-direction: column;
    padding: 50px;
    justify-content: center;
}

.quote.center p {
    width: 100%;
    text-align: center;
    max-width: 500px;
}

.quote.center .button {
    margin: auto;
    margin-top: 30px;
    width: 40vw;
}

/* Formulário */

form {
    margin: auto;
    margin-top: 30px;
    padding: 20px 0;
    padding-bottom: 0px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    color: var(--color0);
    font-weight: 500;
    font-size: 1.1em;
}

form input, form textarea {
    margin: 8px auto;
    padding: 8px;
    width: 100%;
    font-size: 1em;
    background-color: var(--color2);
    border: none;
    resize: none;
    box-shadow: 1px 4px 5px rgba(185, 19, 19, 0.3);
}

::placeholder {
    color: var(--color0);
    font-weight: 600;
}

form .button {
    margin: 0 auto;
    cursor: pointer;
}

/* Flowchart */

.flux {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    color: var(--color0);
    background-color: var(--color2);
    border: 2px solid var(--color4);
    border-radius: 50px;
    margin: 0px;
    font-weight: bold;
    box-shadow: 1px 3px 4px rgba(185, 19, 19, 0.2)
}

.arrow {
    display: flex;
    width: 0;
    height: 0;
    margin: 10px auto;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid var(--color0);
    transform: rotate(90deg);
  }

.pages .footer {
    width: auto;
    margin-left: 0;
}