@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hind&family=Josefin+Sans:ital,wght@1,200;1,500&display=swap');

/* 
    Color palette

    color 0 - #FF6E5C
    color 1 - #FFAEA4
    color 2 - #FFC4BD
    color 3 - #FFF1F1
    color 4 - #FFF
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font0);
}

:root {

    --font0: 'Hind', Arial, Helvetica, sans-serif;
    --font1: 'Josefin Sans', Arial, Helvetica, sans-serif;
    --color0: #FF6E5C;
    --color1: #FFBEB6;
    --color2: #FFD8D4;
    --color3: #FFF1F1;
    --color4: #FFF;
}

body, html {
    background-color: var(--color3);    
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100vh;
}

header {
    background-color: var(--color2);
    padding: 10px 20px;    
}

/* menu */

.material-symbols-rounded {
    color: white;
    font-size: 3em;   
    text-shadow: 0px 4px 4px rgba(185, 19, 19, 0.25);
}

.material-symbols-rounded:hover {
    cursor: pointer;
}

#burger {
    height: 65px;
    transition: all 0.3s ease-out;
}

#burger:hover {
    font-size: 3.5em;
    transition: all 0.3s ease-out;
}

#closemenu { 
    position: absolute;
    z-index: 10;
    left: 0;
    margin: 13px 20px;
    animation: girar2 0.3s linear;  
}

#closemenu:hover { 
    animation: girar1 0.3s linear;
}

@keyframes girar1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(90deg);
    }
}

@keyframes girar2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-90deg);
    }
}

#menu {
    position: fixed;
    top: -200%;
    left: 0;
    width: 100%;
    text-align: center; 
    z-index: 9;
    transition: top 0.7s ease-in-out;    
}

#menu.open {
    top: 0;
  }

#menu ul{
    list-style: none;
    padding: 50px 0;
    padding-bottom: 30px;
    background-image: linear-gradient(var(--color1), var(--color3));
}

#menu li {  
    margin: 50px;
}

#menu a {
    color: var(--color0);
    text-decoration: none;
    font-size: 2em;  
    display: inline-block;
    position: relative;
}

.underline_menu a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--color0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.underline_menu a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* --- body --- */

main {
    background-image: linear-gradient(var(--color1), var(--color2));
    height: 100vh;
    min-height: 650px;
    display: flex;
    margin-bottom: -110px;
}

main h1 {
    display: none;
}

.content {
    margin: auto 25px;
    width: 60%;
    z-index: 5;
}

/* Title */

.title {
    margin-top: -50px;
    margin-bottom: 30px ;
}

.title h2 {
    color: white;
    font-size: 2.8em;
    /* font-size: 8vw; */
    font-family: var(--font1);
    letter-spacing: 0.1em; 
    text-shadow: 0 4px 4px rgba(185, 19, 19, 0.25);
}

.title #smt {
    font-weight: 300;
}

.title #ess {
    padding-left: 30px;
    font-weight: 500;
}

/* Line */

.line {    
    height: 3px; /* espessura da linha */
    background-color: var(--color4);
    position: absolute;
    left: 0;
    margin: -10px auto;
    width: 56vw; /* % do tamanho da tela */
    max-width: 330px;
}
  
.line::before {
    content: "";
    display: block;
    width: 10px; /* tamanho da bolinha */
    height: 10px;
    border-radius: 50%; /* forma da bolinha */
    background-color: var(--color4);
    position: absolute;
    right: -2px; /* metade do tamanho da bolinha, para alinhar com a linha */
    top: calc(50% - 5px); /* metade do tamanho da bolinha, para alinhar com a linha */
}

/* subtitle */

.content p {
    color: var(--color0);
    font-size: 1.1em;
    text-align: center;
    margin-top: 60px;
    width: 90%;
}

/* buttons */

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    height: 50px;
    width: 120%;
    max-width: 300px;
    font-size: 1.1em;
    text-decoration: none;
    color: var(--color4);
    background-color: var(--color1);
    border: 2px solid var(--color4);
    border-radius: 50px;
    box-shadow: 1px 3px 4px rgba(185, 19, 19, 0.2);
    transition: all 0.2s ease-in-out;   
}

.button:hover {
    /* border: none; */
    
    font-size: 1.2em;
    font-weight: bold;
    color: var(--color1);
    background-color: var(--color4);
    transition: all 0.2s ease-in-out;   
}

.image {
    overflow-x: hidden;    
}

.image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

/* --- footer --- */

footer {
    text-align: center;
    background-color: var(--color3);
    margin-top: auto;
}

/* Wave */

footer > svg {
    display: block;
    margin-top: -1px;
}

/* Social Media */

.footer {
    position: relative;    
    z-index: 99;  
}

#social > li {
    display: inline-block;
    margin: 0 8px;  
    
}

#social > li img {    
    width: auto;
    height: 40px;
    margin: 0 10px;
}

.footer > p {
    margin: 0px;
    color: var(--color1);
    font-size: 1.2em;
}

.footer a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

#made {
    font-size: 1em;
}
